.container {
  max-width: 100vw;
}

.header {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-between;
  align-items: center;
  margin: 2.5% 5% 0% 0%;
}

.logo {
  display: flex;
  align-items: center;
  font-family: "Crimson Pro", serif;
  border: 1px solid #ffffff;
  box-sizing: border-box;
}
.logo span {
  padding: 5px;
}

ul {
  list-style-type: none;
  word-spacing: 3rem;
  padding-right: 10em;
}
li {
  display: inline;
  list-style: none;
}

.main-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: nowrap;
  align-content: space-between;
  align-items: center;
  margin: 10% 0% 10% 0%;
}

.text-box h1 {
  font-size: 48px;
  line-height: 61px;
}

.text-box h3 {
  width: 80%;
  font-style: normal;
  font-weight: normal;
}

.text-box span {
  font-weight: bold;
}

.footer {
  width: 100%;
}

.profile-box {
  box-shadow: 10px 5px 5px black;
  width: 35%;
  float: right;
}

.top {
  width: 80%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  line-height: 0.2rem;
}
.profile-box img {
  width: 20%;
  border-radius: 50%;
}

.profile-box h4 {
}

.profile-box p {
  display: flex;
  font-size: 0.75rem;
  color: #828282;
}

.profile-box h3 {
  font-family: Lora;
  font-size: 1rem;
}
